{% load static %}
<!-- footer
    ================================================== -->
<footer>
    <div class="row">
        <div class="col-full">

            <div class="footer-logo">
                <a class="footer-site-logo" href="#0"><img src="{% get_media_prefix %}images/logo.png"
                                                           alt="Homepage"></a>
            </div>

            <ul class="footer-social">

                {% for social in social_medias %}
                    <li><a href="{{ social.link }}" target="_blank">{{ social.icon|safe }}</a></li>
                {% endfor %}
       

            </ul>

        </div>
    </div>

    <div class="row footer-bottom">

        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright Hola 2017</span>
                <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up"
                                                                           aria-hidden="true"></i></a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> <!-- end footer -->
{% include 'includes/scripts.html' %}